<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hatice_gunay/IdeaProjects/Ders-18-Odev">
        <classes><class name="org.example.calisanTestNG"><methods><include name="testCalisanPrim"/>
        </methods></class><class name="org.example.calisanTestdataProvider">
            <methods><include name="testCalculatePrim"/></methods>
        </class><class name="org.example.calisanTests">
            <methods><include name="testkisiAdSoyad"/><include name="testcalculatePrim"/>
            </methods></class></classes></test></suite>